h1 {
    padding-left: 30px;
    align-items: right;
    /* height: 100vh; */
    /* background-color: #e94343; */
}

p {
    padding-left: 30px;
    align-items: right;
    /* height: 100vh; */
    /* background-color: #e94343; */
}