h1 {
    padding-left: 30px;
    align-items: right;
    /* height: 100vh; */
    /* background-color: #e94343; */
}

p {
    padding-left: 30px;
    align-items: right;
    /* height: 100vh; */
    /* background-color: #e94343; */
}
.experience-wrapper {
    align-items: left;
    width: 50%;
}
.resume-wrapper {
    align-items: right;
    width: 50%;
}
.total-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: #DBDBDB; */
}