.content {

    width: 50%;
    align-items: left;
    
}
.home-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: #DBDBDB; */

}
.image {
    width: 50%;
    align-items: center;
    justify-content: center;
    /* background-color: ; */
}
h1 {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    /* height: 100vh; */
    /* background-color: #e94343; */
}

p {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    /* height: 100vh; */
    /* background-color: #e94343; */
}

img {
    /* display: flex; */
    padding: 30px;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    /* height: 100vh; */
    /* background-color: #e94343; */
}

.home-body {
    height: 100vh;
    /* width: 100vw; */
    /* background-color: #DBDBDB; */
    background-image: url('kisspng-nasa-insignia-logo-image-outer-space-download-nasa-vector-logo-eps-ai-free-seek-1713917938268.webp');
    /* display: flex;
    flex-direction: column; */
    background-size: cover;
    background-position: center;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    flex-direction: column;
    
}
button{
    border-color: black;
    text-emphasis-color: black;
    padding: 15px 30px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    /* align-items: center; */
    /* justify-content: center; */
}